<div class="col-md-6 mx-auto my-5">
  <h1 class="text-center bold">Sign up</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource%>
    <div class="form-group row">
      <div class="col">
        <%= f.label :firstname %>
        <%= f.text_field :firstname, class:"form-control col", autofocus: true, autocomplete: "firstname" %>
      </div>
      <div class="col">
        <%= f.label :lastname %><br />
        <%= f.text_field :lastname, class:"form-control col", autocomplete: "lastname" %>
      </div>
    </div>
    <div class="form-group">
        <%= f.label :mobile_no %><br />
        <%= f.text_field :mobile_no, class:"form-control", autocomplete: "mobile_no" %>
      </div>
    <div class="form-group">
        <%= f.label :address %><br />
        <%= f.text_field :address, class:"form-control", autocomplete: "address" %>
      </div>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, class:"form-control", autocomplete: "email" %>
   </div>
   <div class="form-group">
     <%= f.label :password %>
     <% if @minimum_password_length %>
       <em>(<%= @minimum_password_length %> characters minimum)</em>
     <% end %><br />
    <%= f.password_field :password, class:"form-control", autocomplete: "new-password" %>
   </div>
   <div class="form-group">
     <%= f.label :password_confirmation %><br />
     <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password" %>
   </div>
   <div class="row">
     <div class="actions col-md-3">
       <%= f.submit "Sign up", class:"btn btn-secondary" %>
     </div>
    <div class="col">
      <%= render "devise/shared/links" %>
    </div>
   </div>
  <% end %>
</div>